html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5d5d5;
  font-family: 'Sono', sans-serif;
}

/**
* Contact Page 
*/
/* Form Container */
.contact-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 75%;
  /* height: 45%; */
  max-width: 600px;
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: #f2f2f229; */
  /* background-color: #6b6b6b7a; */
  background-color: #430F0F7a;
  padding: 1.75rem;
  border-radius: 10px;
  /* border: 3px solid #00000082; */
  /* box-shadow: 0px 0px 10px 5px #00000033; */
  box-shadow: 0px 0px 10px #430F0F;
}

/* Form */
.contact-form form {
  display: flex;
  flex-direction: column;
}

/* Form Labels */
.contact-form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Form Inputs */
.contact-form input,
.contact-form textarea {
  font-size: 16px;
  padding: .75rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.5rem;
  background-color: #ffffffae;
  font-family: 'Sono', sans-serif;
}

.contact-form textarea {
  height: 25vh;
  resize: none;
}

/* Form Input Focus */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px #3498db;
  background-color: #fff;
}

/* Form Submit Button */
.contact-form button[type="submit"] {
  background-color: #0000008e;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  width: 16rem;
  padding: .75em 2em;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  box-shadow: 0px 0px 10px 1px #430F0F;
}

/* Form Submit Button Hover */
.contact-form button[type="submit"]:hover,
.contact-form button[type="submit"]:focus {
  background-color: #000000df;
  color: #fff;
  box-shadow: 0px 0px 1px 3px #ffffff;
}

/* Form Submit Button Icon */
.send-btn-icon {
  display: inline-block;
  margin-left: .25em;
  vertical-align: middle;
}

/* Form Success Message */
.contact-form .success-message,
.contact-form .error-message {
  color: #000000b4;
  background-color: #ffffffae;
  padding: .75em 2em;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Form Error Message */
.contact-form .error-message {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Form Socials Section */
.contact-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form a {
  margin: 1.5rem .7rem 0;
}

.icon-link {
  color: #ffffff;
  font-size: 3rem;
  border-radius: 5px;
  box-shadow: inset 0px -10px 10px 1px #430F0F;

}

.icon-link:hover,
.icon-link:focus {
  background-color: #ffffff;
  color: #000000df;
}


/**
* Other Pages
*/
.page-title {
  font-family: 'Lato', sans-serif;
}

.page-content {
  font-family: 'Sono', sans-serif;
  background-color: #430f0f;
  padding: 1em;
  border-radius: 5px;
}