html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5d5d5;
  font-family: 'Sono', sans-serif;
}

/**
* Universal Page Styling
*/
.page-scaffold {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 75%;
  /* height: 45%; */
  max-width: 600px;
  max-height: 80vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: #f2f2f229; */
  /* background-color: #6b6b6b7a; */
  background-color: #430F0F7a;
  padding: 2.5rem;
  border-radius: 10px;

  /* TODO: choose between these two */
  box-shadow: 0px 0px 10px #430F0F;
  /* box-shadow: 0px 0px 10px 1px #430f0f5b; */
  overflow:scroll;

}

/* Home Button */
.home-btn {
  position: absolute;
  color: #430F0F5b;
  top: 0em;
  right: 0em;
  font-size: 1.5rem;
  border-radius: 5px 10px 5px 10px;
  border-radius: 0 10px 0 0;
  /* border-radius: 10px; */
}

.home-btn:focus,
.home-btn:hover {
  /* border-radius: 0px 10px 0px 0px; */
  color: #0000008e;
}

.page-title {
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  /* padding-left: .7em; */
  /* border-bottom: 1px solid white; */
  text-transform: capitalize;
}

.page-content {
  font-family: 'Sono', sans-serif;
  background-color: #430f0f;
  background-color: #430f0feb;
  padding: 1em 1.5em;
  border-radius: 5px;
  line-height: 1.5em;
  /* box-shadow: 0px 0px 10px #430f0f87; */
  box-shadow: 0px 0px 10px 1px #430f0f5b;
  color: #fff;

}

.page-content p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.page-content p:last-child {
  margin: 0;
}

/* Keyword highlighting */
.keyword-callout {
  display: inline-block;
  padding: .01em .4em .07em;
  /* padding: .06em .4em; */
  /* margin: .1em .1em; */
  border-radius: 7px;
  /* background-color: #430f0f5b; */
  /* background-color: #f5d5d5; */
  /* color: #000000; */
  /* color: #430F0F; */
  box-shadow: inset -1px -3px 3px 1.5px #0000008e;
  /* box-shadow: inset -1px -3px 3px 1.5px #430F0F; */
  /* border: .5px solid #0000008e; */
}


/**
* Contact Page Styling
*/
.contact-form {
  display: flex;
  flex-direction: column;
}

/* Form Inputs */
.contact-form input,
.contact-form textarea {
  font-size: 16px;
  padding: .75rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.5rem;
  background-color: #ffffffae;
  font-family: 'Sono', sans-serif;
  box-shadow: 0px 0px 10px 1px #430f0f5b;
}

.contact-form textarea {
  height: 25vh;
  resize: none;
}

/* Form Input Focus */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #430f0f5b;
  /* box-shadow: 0px 0px 5px #3498db; */
  /* box-shadow: inset 0px -10px 10px 1px #430f0f; */

  background-color: #fff;
}

/* Form Submit Button */
.btn {
  background-color: #0000008e;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  width: 16rem;
  padding: .75em 2em;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  /* box-shadow: 0px 0px 10px 1px #430f0f5b; */
  /* box-shadow: 0px 0px 1px 3px #ffffffbc; */
  box-shadow: 0px 0px 10px #430F0F;
}

.btn:hover,
.btn:focus {
  /* outline: none; */
  outline: 3px solid #430f0f;
  /* outline: 3px solid #000000df; */
  color: #000000df;
  background-color: #ffffff;
  /* box-shadow: inset 0px -5px 15px 1px #430f0f; */
  /* box-shadow: 0px 0px 1px 4px #000000df; */
  /* box-shadow: 0px 0px 10px 1px #430f0f5b; */
}

/* Form Submit Button Icon */
.send-btn-icon {
  display: inline-block;
  margin-left: .25em;
  vertical-align: middle;
}

/* TODO: change these to match btns */
/* Form Status Message */
.success-message,
.error-message {
  color: #000000b4;
  background-color: #ffffffbc;
  box-shadow: 0px 0px 10px 1px #430f0f5b;
  padding: .75em 2em;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Form Error Message */
.error-message {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Socials Links Section */
.socials-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  margin: 1.5rem .7rem 0;
}

.icon {
  outline: none;
  /* color: #ffffff; */
  font-size: 3rem;
  border-radius: 5px;
  box-shadow: inset 0px -10px 10px 1px #430f0f;
  background-color: #ffffffbc;
  color: #000000df;
  
}

.icon:hover,
.icon:focus {
  color: #ffffff;
  background-color: #000000df;

  /* background-color: #ffffffbc; */
  /* color: #000000df; */
}


